@charset "UTF-8";
/*Claro/Escuro*/
:root {
    --bg: #fff;
    --texto: #111;
    --borda: #e5e7eb;
    --caixa: #f8fafc;
    --secao: #2563eb;
}
[data-tema="escuro"]{
    --bg: #0b1220;
    --texto: #e5e7eb;
    --borda: #1f2937;
    --caixa: #111827;
    --secao: #38bdf8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--texto)
    
}
#topo-contanier{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1rem;
}
.topo {
    border-bottom: 1px solid var(--borda);
}
.caixa {
    background-color: var(--caixa);
}
#contanier-caixa {
    margin: 1.5rem 0;
    border: 1px solid var(--secao);
    padding: 2rem 1rem;
    border: .5rem;
    max-width: 80%;
    margin: 1.5rem auto;
}
h1 {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}
p{
    margin: 1rem 0;
}
form{
    display: grid;
    gap: 0.5rem;
}
label {
    font-weight: 600;
}
input {
    padding: 0.7rem 0.9rem;
    border: 1px solid var(--borda);
    border-radius: 0.5rem;
    background-color: var(--bg);
    color: var(--texto);
}
#btnTema{
    cursor: pointer;
}
.primario {
    padding: 0.6rem 0.9rem;
    border: 1px solid var(--borda);
    background-color: var(--secao);
    color: var(--bg);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem auto 1rem auto;
    max-width: 200px;
}
.rodape {
    border-top: 1px solid var(--borda);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;
    margin-top: auto;
}